<div class="row">
  <div class="col-md-5">
    <p><%= link_to "&larr; back".html_safe, pod_admin_path %></p>
    <h3>
      Add new parent
    </h3>
    <hr/>
  </div>
</div>

<%= render "parent_form" %>
