<div class="row">
  <div class="col-md-6">
    <h2>Pods</h2>
    <p class="lead">These are the pods currently set up on Easypeasy.</p>
    <p>
      <a class="btn btn-default btn-med" href="<%= new_admin_pod_path %>">
        <span class="glyphicon glyphicon-plus"></span> Add new pod
      </a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
    <%- @pods.each do |pod| %>
      <div class="list-group-item">
        <p><%= link_to pod.name, edit_admin_pod_path(pod) %></p>
        <p class="description"><%= pod.description %></p>
      </div>
    <%- end %>
    </div>
  </div>
</div>
