<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
  .comments {
    list-style-type: none;
    margin: 20px 0 0 10px;
    padding: 0;
    width: 500px;
    color: #7E7E7E;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato, Helvetica, Arial, sans-serif;
  }

  .comments-comment {
    margin: 0;
    padding: 0 0 0 10px;
    border-left: 2px solid #8CC63F;
    margin-bottom: 25px;
  }

  .comments-comment .highlight {
    color: #353637!important;
  }

  .comments-comment input[type='submit'] {
    background: transparent;
    border: 0 none;
    padding: 0;
    margin: 0;
    color: #800000;
    font-size: 12px;
  }

  .comments-comment input[type='submit']:hover {
    color: red;
  }

</style>

<div class="row">
  <div class="col-md-12">
  <p class="alert alert-info">
    This is where you're parents hang out, virtually! You can see what they're chatting about and add your own comments to spark conversation!
  </p>
  </div>
</div>

<h1>Comments</h1>

<ul class="comments">
<%- @comments.each do |comment| %>
  <li class="comments-comment">
    <p><b class="highlight"><%= comment.parent.name unless comment.parent.nil? %></b> on <%= comment.game.name unless comment.game.nil? %></p>
    <p><%= comment.body %></p>
    <p><%= button_to "delete", comment, :method => :delete %></p>
  </li>
<%- end %>
</ul>
