<%# No pod set on the admin %>
<% if !current_admin.pod %>
  <p class="lead">
    Hm. I can't find your pod. Please contact a member of EasyPeasy staff to sort this out. Sorry for the inconvenience.
  </p>
<% end %>

<!-- Pod not yet live -->
<% if current_admin.pod && !current_admin.pod.go_live_date %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	    <p class="lead">Welcome to <strong><%= current_admin.pod.name %>'s</strong> Pod!</p>
	    <p>As Pod Administrator, you can use this dashboard to add more parents to your pod, review EasyPeasy's games, view and manage parent comments, and more.</p>
	    <p>EasyPeasy will send a weekly game to all of the parents that you have added to your 'Pod'. When you are ready to start sharing games with parents, <a href="#" onclick="showGoLiveButton()">click here to start</a>.</p>
	    <div id="goLiveButton" style="display: none;">
	      <%= button_to "Go Live", { action: "set_go_live_date_for_pod", id: current_admin.pod_id, method: :post }, { class: 'btn btn-primary'} %>
	    </div>
	</div>
</div>	    
<% elsif current_admin.pod %>
	<p>This pod has been live since <strong><%= current_admin.pod.go_live_date.strftime("%B %e, %Y") %></strong>.</p>
<% end %>

<%# No parents %>
<% if @parents && @parents.empty? %>
  <%= image_tag "logo-huge.png", style: "opacity: 0.3" %>
<% end %>

<script>
function showGoLiveButton() {
  document.getElementById("goLiveButton").style.display = "block";
}
</script>
