<% if !current_admin.pod %>
  <p class="lead">
    Hm. I can't find your pod. Please contact a member of EasyPeasy staff to sort this out. Sorry for the inconvenience.
  </p>
<% else %>
  <p class="lead">
    Welcome! Select an option from the menu above.
  </p>
<% end %>

<hr/>

<% if current_admin.pod && !current_admin.pod.go_live_date %>
<div class="row">
  <div class="col-md-5">
    <p>
      Your pod is not yet live. Click the button below when you're ready to make it live.
    </p>
    <p>
      <%= button_to "Make this pod live", { action: "set_go_live_date_for_pod", id: current_admin.pod_id, method: :post }, { class: 'btn btn-primary'} %>
    </p>
  </div>
</div>

<% elsif current_admin.pod && current_admin.pod.go_live_date %>

  <h1>Dashboard</h1>

  <h2><%= current_admin.pod.number_of_comments %> comments</h2>

  <p>This pod has been live since <strong><%= current_admin.pod.go_live_date.strftime("%B %e, %Y") %></strong>.</p>
<% end %>

<% if @parents && @parents.empty? %>
  <%= image_tag "logo-huge.png", style: "opacity: 0.3" %>
<% end %>
