<%# No pod set on the admin %>
<% if !current_admin.pod %>
  <p class="lead">
    Hm. I can't find your pod. Please contact a member of EasyPeasy staff to sort this out. Sorry for the inconvenience.
  </p>
<% end %>

<%# Pod not yet live %>
<% if current_admin.pod && !current_admin.pod.go_live_date %>
<div class="row">
  <div class="col-md-5">
    <p>Your pod is not yet live.</p>
    <p>If you are <b>completely sure</b> you want to make it live (there is no undo!) then <a href="#" onclick="showGoLiveButton()">click here</a> to reveal the go-live button. Questions? See the help guide in the menu above.</p>
    <div id="goLiveButton" style="display: none;">
      <%= button_to "Make this pod live", { action: "set_go_live_date_for_pod", id: current_admin.pod_id, method: :post }, { class: 'btn btn-primary'} %>
    </div>
  </div>
</div>
<% end %>

<%# No parents %>
<% if @parents && @parents.empty? %>
  <%= image_tag "logo-huge.png", style: "opacity: 0.3" %>
<% end %>

<script>
function showGoLiveButton() {
  document.getElementById("goLiveButton").style.display = "block";
}
</script>
