<% if !current_admin.pod %>
  <p class="lead">
  Hm. I can't find your pod. Please contact a member of EasyPeasy staff to sort this out. Sorry for the inconvenience.
  </p>

<% else %>
  <h3><%= current_admin.pod.name %></h3>

  <h2>Parents in your pod</h2>

  <a class="btn btn-default btn-med" href="<%= new_pod_admin_parent_path %>">
    <span class="glyphicon glyphicon-plus"></span> Add new parent
  </a>

  <ul>
  <% @parents.each do |parent| %>
    <li><%= link_to parent.name, pod_admin_parent_path(parent) %> (<%= link_to 'Edit', edit_pod_admin_parent_path(parent) %>)</li>
  <% end %>
  </ul>
<% end %>
