<div class="row">
	<div class="col-md-12">
		<div class="vertical-spacer"></div>
		<p><strong>
      	Send EasyPeasy to yourself
    	</p></strong>
	  	<small>
		You are about to receive a text message with a link to EasyPeasy.<br/>
		This is what a parent will see when you invite them to join EasyPeasy.<br/>
		</small>
	</div>
</div>
<br/>

<%= render 'parent_form' %>

