<div class="row">
	<div class="col-md-12">
		<div class="vertical-spacer"></div>
		<p><strong>
      	Create your EasyPeasy pod:
    	</p></strong>
	  	<small>
		Welcome! With EasyPeasy, purposeful play at home means children arrive at school ready to learn.<br/>
		Ready to really make parents your partners in the early years? ...Let's get started!<br/>
		</small>    	
    </div>
</div>
<br/>

<%= form_for @pod, url: wizard_path, method: :patch, html: {role: "form"} do |f| %>
	<div class="row">
		<div class="col-md-12">
			<%= render 'shared/error_messages', object: f.object %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
		  	<div class="form-group">    
		    	<%= f.text_field :name, placeholder: "eg: Green Hill Primary School", class: "form-control" %>
		  	</div>
		</div>
	</div>
	<div class="vertical-spacer"></div>
	<div class="row">		
		<div class="col-md-12">
		  	<div class="form-group">
		    	<%= f.submit "Ready", class: "btn btn-success" %>
		  	</div>
		</div>
	</div>
<% end %>

