<div class="row">
  <div class="col-md-12">
    <p><%= link_to "&larr; back".html_safe, admin_pod_admins_path %></p>
    <h3>Edit pod admin</h3>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="well well-lg">    
      <%= render "pod_admin_form" %>
    </div>
  </div>
</div>
