<h2>Pod admins</h2>

<a class="btn btn-default btn-med" href="<%= new_admin_pod_admin_path %>">
  <span class="glyphicon glyphicon-plus"></span> Add new pod admin
</a>

<ul>
<% @pod_admins.each do |pod_admin| %>
  <li><%= pod_admin.email %></li>
<% end %>
</ul>
