<div class="admin-container">
  <p><%= link_to "&larr; back".html_safe, admin_pod_admins_path %></p>
  <div class="title">
    <div class="h3">
      Add pod admin
    </div>
  </div>

  <hr />

  <% if Pod.all.count > 0 %>
    <div class="row">
      <div class="col-md-5">
        <div class="well well-lg">    
          <%= render "pod_admin_form" %>
        </div>
      </div>
    </div>
  <% else %>
    <p class="lead">You need to add a pod before you can add a pod admin.</p>
  <% end %>

</div>
