<div class="list-group-item">
  <div class="row">
    <div class="col-md-12">
      <p><span class="label label-primary">Default</span></p>
      <h4><%= object.name %></h4>
      <p><%= object.description %></p>
      <iframe src='<%= object.video_iframeurl %>' allowtransparency='true' frameborder='0' scrolling='no' class='wistia_embed videoIframe' name='wistia_embed' allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width='280' height='158'></iframe>
    </div>
  </div>
</div>
