<% if object.errors.any? %>
  <div class="alert alert-warning" id="error_explanation">
    <div >
      Oops, there's <%= pluralize(object.errors.count, "error") %>:
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
