<div id='screen2' class='screen screen2Background'>
  <div class='screenMessage'>
    <img src="/assets/pea-green-smile.png" width="110px" height="110px">
    <img src="/assets/pea-green-smile.png" width="110px" height="110px" class="second">
    <p>Our games are designed with experts to build determination, creativity, confidence and self-control.</p>
    <img src="/assets/pea-green-smile.png" width="110px" height="110px" class="forth">
    <img src="/assets/pea-green-smile.png" width="110px" height="110px" class="third">
    <img src="/assets/slider-dots.png" width="48px" height="48px" class="dots"/>
  </div>
</div>