<div id='screen3' class='screen screen3Background'>
  <div class='screenMessage'>
    <label class="first"></label>
    <p>You can share your experience with other parents in your Pod by leaving comments under each game.</p>
    <button class='Button easyButton'>Get Started!</button>
  </div>
</div>