<div class="screen2Background"> 
</div>
<button class='screen2'>
</button>
<div class='screenMessage'>
	Our games are designed with experts to build determination, creativity, confidence and self-control.
	<br/><br/>		
</div>