<div id='screen2' class='screen screen2Background'>
  <div class='screenMessage'>
    <label class="first"></label>
    <label class="second"></label>
    <p>Our games are designed with experts to build determination, creativity, confidence and self-control.</p>
    <label class="forth"></label>
    <label class="third"></label>
    <label class="dots"></label>
  </div>
</div>