<div class='screen3Background'> 
</div>
<button id='screen3' class='screen3'>
</button>
<div class='screenMessage'>
	You can share your experience with other parents in your Pod by leaving comments under each game.
	<br/><br/>
	<button class='Button easyButton'>Get Started!</button>	
</div>
