<div class='screen1Background'> 
</div>
<button id='screen1' class='screen1'>
</button>
<div class='screenMessage'>
	Welcome to EasyPeasy!
	<br/><br/>
	With EasyPeasy, playing together helps your child develop key skills for school and life.	
</div>