<div id='screen1' class='screen screen1Background'>
  <div class='screenMessage'>
    <img src="/assets/pea-yellow-smile.png" width="150px" height="150px"/>
    <h1>Welcome to EasyPeasy!</h1>
    <p>with EasyPeasy, playing together helps your child develop key skills for school and life.</p>
    <img src="/assets/slider-dots.png" width="48px" height="48px" class="dots"/>
  </div>
</div>
