<div id='screen1' class='screen screen1Background'>
  <div class='screenMessage'>
    <label></label>
    <h1>Welcome to EasyPeasy!</h1>
    <p>with EasyPeasy, playing together helps your child develop key skills for school and life.</p>
    <label class="dots"></label>
  </div>
</div>
