<tr><td align="center" style="font-size: 25px; font-family: Lato, Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px; font-weight: bold;" class="padding-copy">
  <%= @pod.name.strip %>'s weekly report
</td></tr>

<tr><td align="center" style="padding: 10px 0 0 0; font-size: 16px; line-height: 25px; font-family: Lato, Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
    <%= (Date.yesterday - 7.days).strftime("%A, %b %d") %> &mdash; <%= Date.yesterday.strftime("%A, %b %d") %>
</td></tr>

<tr><td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 24px; font-family: Lato, Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
    Hello! Here is what happened in your pod last week. If you want to get in touch with us, just reply to this email.
</td> </tr>
