
<html>
	<body style="background:#97ce57; font-family: Helvetica; margin: 0; padding: 0;">
		<center>
			<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" style="max-width: 600px; background: #ffffff; padding: 20px;">
		    	<tr>
		        	<td align="center" valign="top">
		            	<!-- BEGIN TEMPLATE // -->
		            	<table border="0" cellpadding="0" cellspacing="0">
		                	<tr>
		                    	<td align="center" valign="top">
		                        	<!-- BEGIN HEADER // -->
		                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
		                                <tr>
		                                    <td valign="top">
		                                    	<img src="http://www.easypeasyapp.com/images/EasyPeasyLogoTransparent150.png" width="150px" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
		                                    </td>
		                                </tr>
		                            </table>
		                            <!-- // END HEADER -->
		                        </td>
		                    </tr>
		                	<tr>
		                    	<td align="center" valign="top">
		                        	<!-- BEGIN BODY // -->
		                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top: 40px;">
		                                <tr>
		                                    <td valign="top">
		                                        <h3 style="padding: 0 0 20px">Hi <%= @pod_admin.email %>,</h3>
												<p style="font-size:16px;">
Welcome to EasyPeasy!
<br/><br/>
We believe in the power of early learning to transform children's futures. 
<br/><br/>
EasyPeasy helps you work in partnership with parents to get children learning through play. 
<br/>
<ul>
<li>Through creating an EasyPeasy 'Pod' of parents, you will build a network and community around your school where purposeful play can be nourished and supported.</li> 
<br/>
<li>EasyPeasy offers parents games, ideas, and activities that they can play at home with their children, all of which align to the Early Years Foundation Stage curriculum.</li> 
<br/>
<li>Our digital Parent Coaches are experts in parent outreach, and are always available to offer personalised support, guidance and encouragement to your Pod. Say hi by clicking on the orange bubble at the bottom right of your EasyPeasy dashboard!</li>
</ul>
If you have any questions at all, please feel free to get in touch with me by responding to this email, or <strong>call us anytime on 02037734277</strong> with questions or to get a personalised quote to get EasyPeasy at your school. 
<br/><br/>
Warmest regards,
<br/><br/>
Jen
<br/>
<strong>CEO</strong>
<br/><br/>
<hr>
                                            <p style="font-size:14px;border-top:1px solid #f0f0f0; padding: 10px 0 0">If you received this email by mistake, please disregard this email.</p>
		                                    </td>
		                                </tr>
		                            </table>
		                            <!-- // END BODY -->
		                        </td>
		                    </tr>
		                </table>
		                <!-- // END TEMPLATE -->
		            </td>
		        </tr>
		    </table>
		</center>
	</body>
</html>