// A single comment

.commentItem {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $border-lighter;
  @extend %font-size-small;
}

.commentItem:last-of-type {
  border-bottom: 0;
}

.commentItem-author {
  @extend %font-weight-bold;
  color: $blue;
  margin-bottom: 5px;
}
