.gameItem {
  border-bottom: 1px solid $border-light;
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
}

.gameItem:first-of-type {
  border-top: 1px solid $border-light;
}

.gameItem:first-of-type .gameItem-newFlag {
  display: block;
}

.gameItem-name {
  @extend %font-size-large;
  @extend %font-weight-bold;
  margin-bottom: 5px;
}

.gameItem-newFlag {
  display: none;
  position: absolute;
  top: 10px;
  left: 5px;
  @extend %font-weight-bold;
  @extend %font-size-x-small;
  background-color: $green;
  color: white;
  padding: 5px 5px;
}
