.gameItem {
  border-bottom: 1px solid $border-light;
  padding: 10px 5px;
  cursor: pointer;
}

.gameItem:first-of-type {
  border-top: 1px solid $border-light;
}

.gameItem-image {
}

.gameItem-name,
.gameItem-description {
}

.gameItem-name {
  @extend %font-size-large;
  @extend %font-weight-bold;
  margin-bottom: 5px;
}

.gamesItem-description {
}
