.gameItem {
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
}

.gameItem-image {
  width: 43% !important;
}

.gameItem:first-of-type .gameItem-newFlag {
  display: block;
}

.gameItem-name {
  font-size: 1rem;
  @extend %font-size-large;
  @extend %font-weight-bold;
  margin-bottom: 5px;
  margin-left: 45% !important;
  margin-right: 10% !important;   
}

.gameItem-description {
  font-size: 15px;
  margin-left: 45% !important;
  margin-right: 10% !important; 
}

.gameItem-newFlag {
  display: none;
  position: absolute;
  top: 10px;
  left: 5px;
  @extend %font-weight-bold;
  @extend %font-size-x-small;
  background-color: $green;
  color: white;
  padding: 5px 5px;
}

.gameItem-pea {
  background-image: image_url('pea_wink_150x150.png');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;  
  min-width: 40px;
  height: 40px;
}

.gameIndex-flex {
  display:flex;
  align-items: center;  
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.gameItem-flex {
  display:flex;
  align-items: center;  
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.gameItem-parents-played {
  color: $green;
  font-size: 16px;
  @extend %font-weight-bold;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gameItem-playedFlag {
  position: absolute;
  top: 50%;
  right: 15px;
  background-color: $green;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
