// Container for the logo on the games index page

.homeLogo {
  margin: 20px auto;
  height: 42px;
  background-image: image_url('logo-oneliner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
