.screen1Background {
  background-image: image_url('bg_square_lime.jpg');
  height: 100%;
  width: 100%;
  index: 1;
  position: absolute;
  opacity: 0.8;
}
.screen2Background {
  @extend .screen1Background;
  background-image: image_url('bg_square_green.jpg');  
}
.screen3Background {
  @extend .screen1Background;
  background-image: image_url('bg_square_red.jpg');
}

.screen1 {
  background-image: image_url('intro1_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.screen2 {
  background-image: image_url('intro2_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.screen3 {
  background-image: image_url('intro3_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.screenMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-familty: 'Lato', Helvetica, Arial, sans-serif;  
  font-weight: 700;
  text-shadow: 1px 1px 3px #4d4d4d;
  cursor: pointer;
  line-height: 150%;
}

@media all 
  and (min-width: 0px) 
  and (min-height: 0px) {
  .screenMessage {
    font-size: 0.7em;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@media all 
  and (min-width: 200px) 
  and (min-height: 320px) {
  .screenMessage {
    font-size: 0.8em;
    width: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
}
@media all 
  and (min-width: 300px) 
  and (min-height: 400px) {    
  .screenMessage {
    width: 200px;
    font-size: 1em;
    margin-top: -100px;
    margin-left: -100px;        
  }
}
@media all 
  and (min-width: 300px) 
  and (min-height: 500px) {    
  .screenMessage {
    width: 280px;
    font-size: 1.4em;
    margin-top: -100px;
    margin-left: -140px;        
  }
}
@media all 
  and (min-width: 900px) 
  and (min-height: 400px) {    
  .screenMessage {
    width: 320px;
    font-size: 1.6em;
    margin-top: -100px;
    margin-left: -160px;        
  }
}  
@media all
  and (min-width: 900px)
  and (min-height: 700px) {
  .screenMessage {
    width: 400px;
    font-size: 1.8em;
    margin-top: -100px;
    margin-left: -200px;        
  }      
 }