.screen1Background {
  position: absolute;
  background-color: #86C640;
  height: 100%;
  width: 100%;
  .screenMessage{
    margin: 10vh auto 0;
    img {
      margin-bottom: 70px;
      @media screen and ( max-height: 700px ){
        height: 90px;
        width: auto;
        margin-bottom: 50px;
      }
    }
    label {
      background-image: image_url('pea-yellow-smile.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 150px;
      height: 150px;
      margin: 0 auto 70px;
      @media screen and ( max-height: 700px ){
        height: 90px;
        width: auto;
        margin-bottom: 50px;
      }
    }
  }
}
.screen2Background {
  @extend .screen1Background;
  background-color: #F27D4E;
  .screenMessage{
    margin: 10vh auto 0;
    img {
      margin-bottom: 140px;
      &.second {
        margin: 50px 0 70px -45px;
      }
      &.third {
        position: absolute;
        left: -14px;
        bottom: -7px;
        margin: 0;
      }
      &.forth {
        position: absolute;
        right: -20px;
      }
      @media screen and ( max-height: 700px ){
        height: 75px;
        width: auto;
        margin-bottom: 115px;
        &.second {
          margin: 50px 0 60px -45px;
        }
      }
    }
    label {
      background-image: image_url('pea-green-smile.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      width: 110px;
      height: 110px;
      margin: 0 auto 120px;
      &.second {
        margin: 50px 0 70px -45px;
      }
      &.third {
        position: absolute;
        left: -14px;
        bottom: -7px;
        margin: 0;
      }
      &.forth {
        position: absolute;
        right: -20px;
      }
      @media screen and ( max-height: 700px ){
        height: 75px;
        width: 75px;
        margin-bottom: 115px;
        &.second {
          margin: 50px 0 60px -45px;
        }
      }
    }
  }
}
.screen3Background {
  @extend .screen1Background;
  background-color: #D9DE3B;
  .screenMessage{
    margin: 10vh auto 0;
    img {
      margin-bottom: 70px;
      @media screen and ( max-height: 700px ){
        height: 200px;
        width: auto;
        margin-bottom: 50px;
      }
    }
    label {
      background-image: image_url('pea-pod.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 120px;
      height: 266px;
      margin: 0 auto 70px;
      @media screen and ( max-height: 700px ){
        height: 200px;
        width: auto;
        margin-bottom: 50px;
      }
    }
  }
}

.screen {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.screenMessage {
  max-width: 375px;
  color: white;
  text-align: center;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
  p {
    line-height: 160%;
    margin-bottom: 0;
    padding: 0;
    @media screen and ( min-width: 648px ){
      font-size: 24px;
    }
  }
  h1 {
    padding: 0 0 50px;
    font-size: 24px;
    font-weight: bold;
    @media screen and ( min-width: 648px ){
      font-size: 30px;
    }
  }
  .easyButton {
    margin-top: 50px;
    padding: 10px;
    width: 70%;
  }
  label.dots {
    position: absolute;
    bottom: 20px;
    margin: 0 -24px;
    width: 48px;
    height: 48px;
    display: inline;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image_url('slider-dots.png');
  }
}