.introTileBackground {
  background-image: image_url('bg_square.jpg');
  height: 100%;
  width: 100%;
  index: 1;
  position: absolute;
  opacity: 0.6;
}

.screen1 {
  background-image: image_url('intro1_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.screen2 {
  background-image: image_url('intro2_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.screen3 {
  background-image: image_url('intro3_lq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: fixed;
  index: 2;
  cursor: pointer;
}

.introMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;  
  font-weight: 600;
  text-shadow: 1px 1px 3px #4d4d4d;
  cursor: pointer;
  line-height: 150%;
}

@media all 
  and (min-device-width: 0px) 
  and (min-device-height: 0px) {
  .introMessage {
    font-size: 0.7em;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}

@media all 
  and (min-device-width: 320px) 
  and (min-device-height: 320px) {
  .introMessage {
    font-size: 0.8em;
    width: 160px;
    margin-top: -80px;
    margin-left: -80px;
  }
}
@media all 
  and (min-device-width: 320px) 
  and (min-device-height: 400px) {    
  .introMessage {
    width: 200px;
    font-size: 1em;
    margin-top: -100px;
    margin-left: -100px;        
  }
}
@media all 
  and (min-device-width: 320px) 
  and (min-device-height: 500px) {    
  .introMessage {
    width: 280px;
    font-size: 1.4em;
    margin-top: -100px;
    margin-left: -140px;        
  }
}  