<div class="headerToolbar Arrange Arrange--middle">
  {{#link-to 'games' class='headerToolbar-leftButton Arrange-sizeFit u-size2of12 u-cleanLink'}}{{/link-to}}
  <div class="headerToolbar-title Arrange-sizeFill u-size8of12 u-textCenter">
    {{name}}
  </div>
  <div class="headerToolbar-rightButton Arrange-sizeFit u-size2of12"></div>
</div>

<div class="paddedContainer">

  <div class="videoEmbedContainer">
    <iframe {{bind-attr src='iframeurl'}} allowtransparency='true' frameborder='0' scrolling='no' class='wistia_embed videoIframe' name='wistia_embed' allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width='280' height='158'></iframe>
  </div>

  <div class="markdownInstructions">
    {{{instructions}}}
  </div>

  <p>{{#link-to 'comments'}}Load comments{{/link-to}}</p>

  {{outlet}}

</div>

