<ul class="games-list">
{{#each}}
  <li class="games-list__game">
    {{#link-to 'game' this}}
      <div class="name">{{name}}</div>
      <div class="description">{{description}}</div>
    {{/link-to}}
  </li>
{{/each}}
</ul>
