{{#link-to 'application'}}&lt; back{{/link-to}}
<h3>{{name}}</h3>
<p>{{description}}</p>
<video controls>
  {{#if video_url_mp4}}
  <source {{bind-attr src="video_url_mp4"}}
          class="js-mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
  {{/if}}
  {{#if video_url_webm}}
  <source {{bind-attr src="video_url_webm"}}
          type='video/webm;codecs="vp8, vorbis"'/>
  {{/if}}
</video>
