<ul class="games-list">
{{#each}}
  {{#link-to 'game' this class='games-list__game' tagName='li'}}
    <img {{bind-attr src=image_url}}/>
    <div class="info">
      <div class="name">{{name}}</div>
      <div class="description">{{description}}</div>
    </div>
  {{/link-to}}
{{/each}}
</ul>
