<div class="homeLogo"></div>

<div class="paddedContainer">
  <p><strong>Hello!</strong> Thanks for visiting Easypeasy.</p>
  <p>To access the games, please click on the link in the SMS you should have received from Easypeasy. If you don't have an SMS, please contact your pod administrator.</p>
</div>
