<div class="homeLogo"></div>

<div class="paddedContainer center-me alert-error">
	<p>
	Oops! You were not supposed to see this page.<br/><br/>
	We are working to fix this.<br/><br/>
	For now, in order to access EasyPeasy please follow these instructions:<br/><br/>
	
	<strong>1. Go back to the SMS you clicked on.</strong><br/><br/>
	<strong>2. Copy the link in the SMS and paste it into your browser.</strong><br/><br/>
	
	Thanks for your patience :)<br/><br/>
	
	EasyPeasy Team.
	</p>	
</div>

<script>
  ga('send', {
    'hitType': 'pageview',
    'page': location.pathname + location.hash,
    'title': "home"
  });
</script>
