img {
  max-width: 100%;
}

.inline-delete-form {
  display: inline;
  margin-left: 30px;
}

.list-group {
  .glyphicon {
    padding-right: 10px;
  }
}

.list-group p {
  margin-bottom: 0;
}

.list-group-item .description {
  color: #999;
}
