@import 'colors';

* { box-sizing: border-box; }

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid $border-light;
}

@import 'vendor/suit';
@import 'type';

// Components
@import 'components/paddedContainer';
@import 'components/homeLogo';
@import 'components/welcomeMessage';
@import 'components/gameItem';
@import 'components/headerToolbar';
@import 'components/markdownInstructions';
@import 'components/videoIframe';
@import 'components/commentItem';
@import 'components/textArea';
@import 'components/title';
@import 'components/easyButton';

body {
  max-width: 900px;
  margin: 0 auto;
}
