* { box-sizing: border-box; }

img {
  max-width: 100%;
}

@import 'vendor/suit';
@import 'mixins';
@import 'type';
@import 'colors';

// Components
@import 'components/paddedContainer';
@import 'components/homeLogo';
@import 'components/gameItem';
@import 'components/headerToolbar';
@import 'components/markdownInstructions';

iframe {
  border: 3px solid $green;
  border-radius: 4px;
}
