%font-family {
  font-family: 'museo-sans-rounded', Helvetica, sans-serif;
  // weights: 

  // font-family: 'Oswald', Helvetica, sans-serif;
  // Oswald loaded in 700 and 400 weights
}

%font-weight-normal {
  // Museo Rounded:
  font-weight: 300;

  // Oswald:
  // font-weight: 400;
}

%font-weight-bold {
  font-weight: 700;
}

%font-size-normal {
  font-size: 1em;
}

%font-size-large {
  font-size: 1.2em;
}

%font-size-small {
  font-size: 0.9em;
}

%font-size-x-small {
  font-size: 0.7em;
}

body {
  @extend %font-family;
  @extend %font-weight-normal;
  font-size: 17px;
}

p {
  margin-bottom: 1em;
  line-height: 1.3em;
}

.paraSmall {
  @extend %font-size-small;
  color: $text-light;
  margin: 1em 0;
}

blockquote {
  background: white;
  border: 1px solid grey;
  border-left:0.5em solid $green;
  margin:1.5em 1em;
  padding:.5em 1em;
}

blockquote :first-child {  
  display:inline-block;
}

blockquote :last-child {
  margin-bottom:5px;
}

blockquote p {
  display: inline;
}
