%font-family {
  font-family: 'museo-sans-rounded', Helvetica, sans-serif;
  // weights: 

  // font-family: 'Oswald', Helvetica, sans-serif;
  // Oswald loaded in 700 and 400 weights
}

%font-weight-normal {
  // Museo Rounded:
  font-weight: 300;

  // Oswald:
  // font-weight: 400;
}

%font-weight-bold {
  font-weight: 700;
}

%font-size-normal {
  font-size: 1em;
}

%font-size-large {
  font-size: 1.2em;
}

body {
  @extend %font-family;
  @extend %font-weight-normal;
  font-size: 17px;
}
