// Oswald loaded in 700 and 400 weights

%font-family {
  font-family: 'Oswald', Helvetica, sans-serif;
}

%font-weight-normal {
  font-weight: 400;
}

%font-weight-bold {
  font-weight: 700;
}

%font-size-normal {
  font-size: 1em;
}

%font-size-large {
  font-size: 1.2em;
}
